ul{
    list-style-type: none;
}
.navbar {
    background-color: #333;
    
    width: 100%;
    z-index: 1;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 50%;
}

.navbar li {
    display: inline;
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: right;
    padding: 10px;
}

.header{
    text-align: center;
    display: flex;
    justify-content: space-between;
}






.banner-content {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center
}

.banner-content p,.banner-content h2{
        color: #e7d06a ;
}

.see_more_btn{    
    background-color: hsl(59, 100%, 45%);
    border-radius: 50px 100px;
    padding: 10px 10px 10px;
    font-size: 16px;
}
.hire_btn{
    border-radius: 50px 100px;
    padding: 10px 10px 10px;
    font-size: 16px;
    background-color: hsl(59, 100%, 45%);
}
.slick-slide{
    position: relative;
}











img {
    max-width: 100%;
}

.logo{
    text-align: left;
    display: inline;
    color: brown;
    border-style: ridge;
}


.img img{ 
    width:100%;
 
}
.Banner-img{
    width: 100%;
}
.Banner_section  {
                
    max-width: 100%;
    position: relative;
    margin: auto;
}






.flatsome_section h2{
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
 
}

.flatsome_section{
    margin-top: 80px;
}
.flatsome_section .row{
    margin-top: 130px;
    margin-top: 30px;
    text-align: center;
}


.tab_section{
    margin-left:100px;
    margin-top: 80px;
}
.tab_section .tab-items{
    display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;
  

}
.tab-items ul{
display: flex;
}
.tab_section .tabcontent{
    margin-top: 30px;
 }
.tab_section .tab-items .tablinks {
  border: 0 ;
  color: rgb(72, 72, 146);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.tab-items container{
    width: 1000px;
    margin: o auto;
}
.tab-items ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.tab-items ul li{
    display: inline-block;
    margin-right: 2px;
    border-radius: 12px 12px 0 0;
    background-color: inherit;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 700;

}
.tab-items ul li:hover, .tab-items ul li.active{
background-color: #4a93c0;
}





.tab-content{
    display: none;
    font-size: 20px;
    padding: 25px;
    
}
.tab-content:first-child{
    display: block;
}






.showcase_section .popup-content{
    display: none;
    position: relative;
    left: 25%;
    top: 10%;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #636363;
    background-color: #566480;
    align-items: center;
}

.showcase_section{
    background-color: #cfdaf0;
}
.showcase_section .customer_class{
    text-align: center;
    padding-top: 80px;
    margin-top: 80px;
}
.showcase_section .customer_class p{
   padding-left: 15%;
   padding-right: 15%;
}
.showcase_section .customer_class .ShowcaseBtn{
    border-radius: 8px;
    background-color: #3785eb;
    color: aliceblue;
}
.showcase_section .showcase_images img {
    margin-top: 30px;
    padding-bottom: 40px;
    text-align: center;

}
.showcase_section .multi-slides .showcase-img{
    padding: 20px;
}



.faq_section h2{
    text-align: center;
    font-weight: bolder;
    padding-top:20px;
    margin: 40px 0 50px 0;

}
.faq_section h4{
     text-align: left;
    text-transform: capitalize;
    cursor: pointer;
	color:#000000;
	position: relative;
	margin-left: 7%;
	padding:5px 8px;
}
.faq_section .accordian-section .according-title{
    text-align: left;
    display: none;
    text-transform: capitalize;
    padding-top:20px;
    
}

.faq_section .accordion-main .accordian-section .according-title span{
    text-align: end;
}


/* .accordian-section.according-content #p1{
    display: none;

    margin-left: 7%;
} */
.faq_section .accordian-section .according-content {
    display: none;
}
.faq_section .accordion-main .accordian-section:nth-child(1) .according-content {
    display: block;
}


.faq_section .btn{
    margin-left: 50%;
    margin-right: 50%;
    font-size:x-large;
    height: 50px; 
    width: 150px; 
    border-radius: 6px;
    background-color: transparent;
    border: 3px solid #eb9f12; 
    color: #eb9f12;
}
.accordian-section{
    box-shadow: 0px 0px 20px #d4d4d4;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    
}





.file-add #files    {
    display:none;
}

.add-img,.plus{
    font-size: 25px;
}
.add-img{
    display: flex;
    gap:5px;    
}
.imageThumb{
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
#remove{
    background: rgb(136, 136, 136);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: medium;
    cursor: pointer;
    height: 20px;
    width: 100px;
}
#remove:hover {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}



.contact-section {
    margin-top: 50px;
}
.contact-section h2{
    text-align: center;
    font-weight: bolder;
    margin-top: 100px;
}
.home-contact-form ul{
    background-color: transparent;
    flex-wrap: wrap;
    display: flex;
}
.home-contact-form li{
    padding: 15px;
    width:50%;
}
.home-contact-form .input-box .error {
    color: red;
    display: none;
    font-size: 14px;
}
/* .error-field class add in jQuery */
.home-contact-form .input-box .error-field {
    border: 1px solid red;
} 
.home-contact-form .input-box .input-text{
    width: 100%;
    height: 40px;    
}
.home-contact-form  li.msgbox,li.contact-img{
    width: 100%;
}
.home-contact-form  li.msgbox #textarea{ 
    height:100px; 
}
li.contact-img .contact-detail h5{
    font-weight:800;
    color: rgb(12, 87, 12);
}
.contact-btn button{
    width: 100px;
    text-align: center;
    height: auto;
    margin-top: 15px;
    background-color: #111111;
    color: white;
    border-radius: 5px;
}
.contact-bar textarea:focus,select:focus,input:focus{
    background-color: rgba(185, 185, 185, 0.733);
}
.file-add {
    display: inline-block;
    margin: 10px 10px 0 15px;
    text-align: center;
    font-size: 20px;  
}
.file-add label{
    width:100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.file-add label:hover{
    border: 3px solid black;
    width:100px;
    height: 100px;
}
.file-add #files{
    display:none;
}
.add-img{
    display: flex;
    gap:5px;    
}
.add-img, .plus{
    font-size: 25px;
}
/* .imageThumb and #remove add in jQuery */
.imageThumb{
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
#remove{
    background: rgb(136, 136, 136);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: medium;
    cursor: pointer;
    height: 20px;
    width: 100px;
}
#remove:hover {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

/*========== footer section ==========*/
.footer-main{
    margin-top: 30px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-weight: 600;
}
.footer-content{
    margin-top: 40%;
}
.footer-main .row .footer-link{
    padding-top: 80px;
    padding-bottom: 150px;
}

.footer-main .row .footer-link li{
    padding-bottom: 5px;
}

.footer-main .row .footer-link h3{
    padding-bottom: 8px;


}
.footer-main .footer-link ul{
    background-color: transparent;
}

li .social-media{
    color: #98bae7;
}
.footer-social-links ul{
    display: flex;
}
.footer-social-links li{
    margin: 10px;
}

.footer-bottom .col-sm-6{
    display: flex;
    align-items: center;
}
.footer-bottom .col-sm-6 .footer-copytight p{
    margin-left: 50%;
}